.el {
  padding: 40rem 0;
}

.main {
  margin-top: 30rem;
}

.desc {
  font-size: 18rem;
  line-height: 1.6;
}

.price {
  margin-top: 20rem;
  margin-left: 110rem;
  font-size: 24rem;
  line-height: 1.1;
  color: $color-magenta;
}

@include media(lg) {
  .el {
    padding: 40rem 0 124rem;

    &.anim {

      .heading,
      .main {
        opacity: 1;
        transform: none;
      }
    }
  }

  .heading {
    opacity: 0;
    transform: translateY(50rem);
    transition: opacity .5s ease, transform .5s ease;
  }

  .main {
    display: flex;
    margin-top: 60rem;
    opacity: 0;
    transform: translateY(50rem);
    transition: opacity 1s ease .5s, transform 1s ease .5s;
  }

  .desc {
    margin-right: 85rem;
  }

  .price {
    margin-top: 0;
    margin-left: 0;
    flex-shrink: 0;
    font-size: 36px;
  }
}

@include media(xl) {
  .el {
    display: flex;
    padding: 120rem 0 165rem;
  }

  .heading {
    flex-shrink: 0;
    margin-right: 85rem;
  }

  .main {
    margin-top: 0;
  }

  .desc {
    margin-right: 64rem;
  }

  .price {
    font-size: 42rem;
  }
}