.el {
  padding: 40rem 0 60rem;
}

.desc {
  margin-top: 18rem;
  font-size: 18rem;
  line-height: 1.6;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24rem;
  margin-top: 44rem;
}

.image {
  width: 100%;
}

@include media(lg) {
  .el {
    padding: 40rem 0 100rem;

    &.anim {
      .top,
      .items {
        opacity: 1;
        transform: none;
      }
    }
  }

  .top {
    display: flex;
    opacity: 0;
    transform: translateY(50rem);
    transition: opacity .5s ease, transform .5s ease;
  }

  .desc {
    margin-left: 30rem;
    width: 400rem;
    flex-shrink: 0;
  }

  .items {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 50rem 24rem;
    opacity: 0;
    transform: translateY(50rem);
    transition: opacity 1s ease .5s, transform 1s ease .5s;
  }
}

@include media(xl) {
  .el {
    padding: 64rem 0 150rem;
  }

  .desc {
    width: 580rem;
    font-size: 26rem;
    line-height: 1.4;
  }

  .items {
    margin-top: 96rem;
    grid-gap: 92rem 60rem;
  }
}