.el {
  padding: 40rem 0 78rem;
}

.main {
  margin-top: 24rem;
}

@include media(lg) {
  .el {
    &.anim {

      .heading,
      .main {
        opacity: 1;
        transform: none;
      }
    }
  }

  .heading {
    max-width: 680rem;
    opacity: 0;
    transform: translateY(50rem);
    transition: opacity .5s ease, transform .5s ease;
  }

  .main {
    margin-top: 60rem;
    opacity: 0;
    transform: translateY(50rem);
    transition: opacity 1s ease .5s, transform 1s ease .5s;
  }
}

@include media(xl) {
  .el {
    padding: 108rem 0 145rem;
  }

  .heading {
    max-width: 850rem;
  }

  .main {
    margin-top: 86rem;
  }
}