.el {
  padding: 28rem 0 35rem;
  color: $color-grey-paper;
  background-color: $color-grey-main;
}

.title {
  font-size: 30rem;
  line-height: 1;
}

.btn {
  margin-top: 28rem;
  width: 100%;
}

@include media(lg) {
  .el {
    padding: 30rem 0 46rem;
    opacity: 0;
    transform: translateY(10rem);
    transition: opacity .6s ease, transform .6s ease;

    &.anim {
      opacity: 1;
      transform: none;
    }
  }

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40rem;
  }

  .title {
    max-width: 600rem;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity .65s ease 2.75s, transform .65s ease 2.75s;
  }

  .btn {
    margin-top: 0;
    margin-right: 34rem;
    width: 314rem;
  }

  .side {
    opacity: 0;
    transform: translateX(50rem);
    transition: opacity .65s ease 2.75s, transform .65s ease 2.75s;
  }

  .anim {

    .title,
    .side {
      opacity: 1;
      transform: none;
    }
  }
}

@include media(xl) {
  .el {
    padding: 40rem 0;
  }

  .main {
    padding: 0;
  }

  .title {
    font-size: 36rem;
  }

  .btn {
    margin-right: 0;
    width: 374rem;
  }
}