.el {
  padding: 40rem 0 48rem;
}

.items {
  margin-top: 38rem;
}

.item {
  margin-bottom: 38rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.btn {
  margin-top: 35rem;
  width: 100%;
}

@include media(lg) {
  .el {
    padding: 40rem 0 90rem;

    &.anim {

      .heading,
      .items {
        opacity: 1;
        transform: none;
      }
    }
  }

  .heading {
    opacity: 0;
    transform: translateY(50rem);
    transition: opacity .5s ease, transform .5s ease;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20rem;
    margin-top: 60rem;
    opacity: 0;
    transform: translateY(50rem);
    transition: opacity 1s ease .5s, transform 1s ease .5s;
  }

  .item {
    margin-bottom: 0;
  }

  .btn {
    margin-top: 28rem;
  }
}

@include media(xl) {
  .el {
    padding: 72rem 0 78rem;
  }

  .items {
    margin-top: 32rem;
  }

  .btn {
    margin-top: 68rem;
  }
}