.top {
  padding: 64rem 0;
  color: #fff;
  background: $color-grey-main;
}

.desc {
  margin-top: 32rem;
}

.topList {
  margin-top: 30rem;
}

.topItem {
  border-top: 2px solid $color-magenta;
  padding-top: 20rem;
  margin-bottom: 20rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.main {
  margin-top: 40rem;
}

.dataTitle {
  font-weight: 400;
  font-size: 42rem;
  line-height: 110%;
}

.dataDesc {
  margin-top: 20rem;
}

.dataNote {
  margin-top: 20rem;
}

.dataTable {
  display: block;
  margin: 40rem (-$container-padding) 0;
}

.dataBg {
  display: block;
}

.picImage {
  display: block;
  width: 100%;
}

.conversion {
  margin-top: 60rem;
}

.conversionDesc {
  margin-top: 25rem;
}

.conversionList {
  margin-top: 30rem;
}

.listItem {
  display: flex;
  margin-bottom: 30rem;

  &::before {
    content: "";
    margin-top: 15rem;
    margin-right: 17rem;
    width: 43rem;
    height: 3rem;
    flex-shrink: 0;
    background: $color-magenta;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.conversionTable {
  display: block;
  margin: 30rem (-$container-padding) 0;
}

.season {
  margin-top: 38rem;
}

.seasonDesc {
  margin-top: 20rem;
}

.seasonNote {
  margin-top: 50rem;
}

.client {
  margin-top: 50rem;
}

.clientDesc {
  margin-top: 20rem;
}

.clientList {
  margin-top: 40rem;
}

.clientBg {
  display: block;
  margin-top: 55rem;
}

.recommend {
  margin-top: 55rem;
}

.recommendDesc {
  margin-top: 15rem;
}

.recommendList {
  margin-top: 30rem;
}

@include media(lg) {
  .top {
    padding: 85rem 0 75rem;
  }

  .desc {
    margin-top: 0;
  }

  .topList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40rem 20rem;
    margin-top: 52rem;
  }

  .topItem {
    margin-bottom: 0;
  }

  .main {
    margin-top: 75rem;
  }

  .dataDesc {
    margin-top: 35rem;
  }

  .dataNote{
     margin-top: 48rem;
  }

  .dataTable {
    position: relative;
    margin: 40rem 0 0;
  }

  .dataBg {
    margin-top: -105rem;
  }

  .list {
    padding-left: 150rem;
  }

  .conversionDesc {
    margin-top: 30rem;
  }

  .conversionTable {
    margin: 30rem 0 0;
  }

  .season {
    margin-top: 60rem;
  }

  .seasonDesc {
    margin-top: 35rem;
  }

  .seasonNote {
    margin-top: 35rem;
  }

  .client {
    margin-top: 85rem;
  }

  .recommendDesc {
    margin-top: 35rem;
  }
}

@include media(xl) {
  .top {
    padding: 126rem 0 112rem;
  }

  .topList {
    grid-gap: 60rem 20rem;
    margin-top: 78rem;
  }

  .topItem {
    padding-top: 28rem;
  }

  .main {
    margin-top: 110rem;
  }

  .dataTable {
    margin: 58rem 0 0;
  }

  .dataBg {
    margin-top: -158rem;
  }

  .list {
    padding-left: 230rem;
  }

  .season {
    margin-top: 90rem;
  }

  .client {
    margin-top: 128rem;
  }
}