.el {
  padding: 70rem 0 60rem;
}

.areas {
  position: relative;
  margin-top: 40rem;
}

.areasBg {
  position: absolute;
}

.areasImage {
  width: 100%;
}

.area {
  position: relative;
}

.areaTitle {
  font-size: 26rem;
  line-height: 1.4;
}

.areaDesc {
  font-size: 18rem;
  line-height: 1.6;
}

.areaArrow {
  position: absolute;
}