.el {
  padding: 26rem 0;
  background: radial-gradient(97.88% 68.9% at 34.9% 15.75%, #E9DEFA 0%, #FBFCDB 100%);
  overflow: hidden;
}

.top {
  position: relative;
  margin-top: 44rem;
}

.heading {
  font-weight: 400;
  font-size: 24rem;
  line-height: 1.1;
}

.desc {
  margin-top: 14rem;
  font-size: 18rem;
  line-height: 1.6;
}

.arrow {
  position: absolute;
  top: 45rem;
  right: -15px;
  width: 90rem;
  transform: rotate(25deg);
}

.screen {
  display: block;
  margin-top: 46rem;
  width: 100%;
}

.stars {
  display: block;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: -15px;
  width: 40rem;
}

@include media(lg) {
  .el {
    padding: 75rem 0 44rem;
    background: radial-gradient(64.06% 124.55% at 34.9% 15.75%, #E9DEFA 0%, #FBFCDB 100%)
  }

  .top {
    margin: 0 auto;
    max-width: 560rem;
  }

  .heading {
    font-size: 42rem;
  }

  .desc {
    margin-top: 24rem;
  }

  .arrow {
    top: 55rem;
    right: -35rem;
    width: 120rem;
    transform: none;
  }

  .screen {
    margin: 100rem auto 0;
    width: 1100rem;
  }

  .stars {
    margin-right: 30rem;
  }
}

@include media(xl) {
  .el {
    padding: 150rem 0 44rem;
  }

  .screen {
    width: 1344rem;
  }

  .stars {
    margin-right: 150rem;
    width: 65rem;
  }
}