.el {
  padding: 54rem 0 30rem;
  color: $color-grey-light;
  background-color: $color-grey-main;
}

.title {
  line-height: 1.35;
  color: #fff;
}

.link {
  white-space: nowrap;
}

.linkColored {
  color: $color-magenta;
}

.linkIcon {
  width: 16rem;
  height: 16rem;
  fill: currentColor;
}

.linkIconLg {
  width: 26rem;
  height: 26rem;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 44rem;
  max-width: 320rem;
}

.step {
  width: 204rem;
  margin-bottom: 20rem;
  font-size: 18rem;
  line-height: 1.6;

  &:last-child {
    margin-bottom: 0;
  }
}

.side {
  position: relative;
  margin-top: 52rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 114rem);
    height: 1rem;
    background-color: $color-grey-light;
    opacity: 0.2;
  }
}

.logo {
  width: 94rem;
  fill: $color-grey-light;
}

.contacts {
  margin-top: 28rem;
}

.contact {
  margin-bottom: 22rem;
  font-size: 18rem;
  line-height: 1.6;

  &:last-child {
    margin-bottom: 0;
  }
}

.contactTitle {
  display: none;
}

.contactDesc {
  font-size: 18rem;
  line-height: 1.6;
}

.mail {
  text-decoration: underline;
}

.social {
  margin-right: 30rem;
}

@include media(lg) {
  .el {
    padding: 64rem 0 100rem;
  }

  .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .linkIcon {
    width: 20rem;
    height: 20rem;
  }

  .linkIconLg {
    width: 36rem;
    height: 36rem;
  }

  .steps {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0;
    max-width: none;
  }

  .step {
    margin-right: 24rem;
    margin-bottom: 0;
    width: 180rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .side {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 114rem;

    &::before {
      display: none;
    }
  }

  .logo {
    width: 167rem;
  }

  .contacts {
    display: flex;
    margin-top: 0;
  }

  .contact {
    border-top: 1px solid $color-grey-light;
    width: 190rem;
    margin-right: 20rem;
    margin-bottom: 0;
    padding-top: 20rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .contactTitle {
    display: block;
    font-size: 14rem;
    line-height: 1.3;
  }

  .contactDesc {
    margin-top: 14rem;
    padding-right: 10rem;
    font-size: 14rem;
    line-height: 1.3;
  }
}

@include media(xl) {
  .el {
    padding: 94rem 0 124rem;
  }

  .step {
    width: 270rem;
    margin-right: 36rem;
    padding-right: 10rem;
    font-size: 26rem;
    line-height: 1.4;
  }

  .side {
    margin-top: 186rem;
  }

  .contact {
    margin-right: 22rem;
    width: 280rem;
    padding-top: 32rem;
  }

  .contactDesc {
    margin-top: 20rem;
    font-size: 18rem;
    line-height: 1.6;
  }
}