.main {
  position: relative;
  padding-top: $header-height;
  background-color: $color-grey-paper;
  z-index: 1;
}

@include media(lg) {
  .main {
    padding-top: $header-height-lg;
  }

  .footer {
    position: sticky;
    bottom: 0;
  }
}

@include media(xl) {
  .main {
    padding-top: $header-height-xl;
  }
}