.main {
  position: relative;
  padding-top: $header-height;
  background-color: $color-grey-paper;
  z-index: 1;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
}

@include media(lg) {
  .main {
    padding-top: $header-height-lg;
  }
}

@include media(xl) {
  .main {
    padding-top: $header-height-xl;
  }
}