.el {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 32rem;
  right: 0;
  margin: auto;
  width: calc(100% - 40px);
  border: 1px solid $color-grey-main;
  border-radius: 1000rem;
  padding: 16rem 30rem;
  background-color: #fff;
  transform: translate(0, 200%);
  transition: transform .3s ease;
  z-index: 10;

  &.active {
    transform: translate(0, 0);

    .icon {
      animation: send 3s cubic-bezier(1, -0.47, 0.01, 1.37) .3s forwards;
    }
  }
}

@keyframes send {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20rem) translateX(20rem);
  }
  51% {
    transform: translateY(20rem) translateX(-20rem);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.box {
  margin-right: 16rem;
  flex-shrink: 0;
  padding: 2rem;
  overflow: hidden;
}

.icon {
  width: 16rem;
  height: 16rem;
}

.title {
  font-size: 14rem;
  line-height: 1.3;
}

.close {
  position: relative;
  margin-left: 32rem;
  width: 20rem;
  height: 20rem;
  flex-shrink: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 1rem;
    background-color: $color-grey-main;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

@include media(lg) {
  .el {
    width: 478rem;
  }

  .box {
    margin-right: 28rem;
  }

  .close {
    margin-left: 52rem;
  }
}