.el {
  padding: 30rem 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem 10rem;
  margin-top: 30rem;
}

.tag {
  border: 1px solid currentColor;
  border-radius: 100rem;
  padding: 9rem 20rem;
  font-size: 12rem;
  line-height: 1;
  text-transform: uppercase;
}

@include media(lg) {
  .el {
    padding: 82rem 0;
  }

  .titleCol {
    order: 1;
  }

  .tags {
    margin-top: 0;
    padding-right: 50rem;
  }
}

@include media(xl) {
  .tags {
    padding-right: 200rem;
  }

  .title {
    padding-right: 100rem;
  }
}