.row {
  margin: 0 (-$container-padding);

  &:last-child {
    .item:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.item {
  margin-bottom: 30rem;
  padding: 0 $container-padding 20rem;
  border-bottom: 1px solid $color-grey-main;
}

@include media(lg) {
  .el {
    &.slide {
      .row {
        position: sticky;
        top: 144rem;
      }
    }

    &.animated {
      .card {
        opacity: 0;
        transform: translateY(50rem);
        transition: opacity .5s ease .5s, transform .5s ease .5s;
      }

      .anim {
        .card {
          opacity: 1;
          transform: none;
        }
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 0 $container-padding;
    border-top: 1px solid $color-grey-main;
    background-color: $color-grey-paper;

    &:first-child {
      border-top: none;

      .item {
        padding-top: 2rem;
      }
    }

    &:last-child {
      .item {
        padding-bottom: 0;
      }
    }
  }

  .item {
    margin-bottom: 0;
    padding: 20rem;
    border-right: 1px solid $color-grey-main;
    border-bottom: none;

    &:first-child {
      border-left: 1px solid $color-grey-main;
    }
  }

  .bordered {
    .row {
      &:first-child {
        border-top: 1px solid $color-grey-main;

        .item {
          padding-top: 20rem;
        }
      }
    }
  }
}

@include media(xl) {
  .el {
    &.slide {
      .row {
        position: sticky;
        top: 212rem;
      }
    }
  }

  .row {    
    margin: 0 (-$container-padding-xl);
    padding: 0 $container-padding-xl;

    &:last-child {
      .item {
        padding-bottom: 30rem;
      }
    }
  }

  .item {
    padding: 30rem 30rem 60rem;
  }

  .bordered {
    .row {
      &:first-child {
        .item {
          padding-top: 30rem;
        }
      }
    }
  }
}