.el {
  display: block;
  
  &:hover {
    opacity: 0.85;
  }
}

.image {
  width: 100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem 10rem;
  margin-top: 15rem;
}

.tag {
  border: 1px solid $color-grey-main;
  border-radius: 15rem;
  padding: 6rem 10rem 4rem;
  font-size: 10rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  margin-top: 15rem;
}

.desc {
  margin-top: 8rem;
}

@include media(lg) {
  .el {
    &.fade {
      opacity: 0;
      transform: translateY(50rem);
      transition: opacity .5s ease .5s, transform .5s ease .5s;

      &.anim {
        opacity: 1;
        transform: none;
      }
    }
  }
}