.el {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30rem 0;
}

.link {
  position: relative;
  font-size: 16rem;
  line-height: 1;
  transition: opacity .3s ease, transform .3s ease;

  &::before {
    content: "";
    position: absolute;
    left: -12rem;
    top: 5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 100rem;
    background-color: currentColor;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &.active {
    transform: translateX(12rem);

    &::before {
      opacity: 1;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  color: $color-magenta;
}

.icon {
  margin-left: 8rem;
  width: 12rem;
  height: 12rem;
  fill: currentColor;
}