.item {
  max-width: 205px;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  line-height: 1;
}

.em {
  color: $color-magenta;
}

.unit {
  margin-left: 5px;
}

@include media(lg) {
  .el {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 85px 20px;
  }

  .item {
    margin-bottom: 0;
  }
}

@include media(xl) {
  .el {
    grid-gap: 116px 20px;
  }
  
  .item {
    max-width: 300px;
  }

  .desc {
    margin-top: 5px;
  }
}