.item {
  max-width: 205rem;
  margin-bottom: 28rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  line-height: 1;
}

.em {
  color: $color-magenta;
}

.unit {
  margin-left: 5rem;
}

@include media(lg) {
  .el {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 85rem 20rem;
  }

  .item {
    margin-bottom: 0;
  }
}

@include media(xl) {
  .el {
    grid-gap: 116rem 20rem;
  }
  
  .item {
    max-width: 300rem;
  }

  .desc {
    margin-top: 5rem;
  }
}