.list {
  margin-top: 32rem;
}

.btn {
  margin-top: 56rem;
  width: 100%;
}

@include media(lg) {
  .btn {
    margin-top: 68rem;
  }
}

@include media(xl) {
  .list {
    margin-top: 64rem;
  }

  .btn {
    margin-top: 85rem;
  }
}