.info {
  margin-top: 35rem;
}

.awards {
  padding-bottom: 35rem;
  border-bottom: 1px solid $color-grey-light;
}

.cert {
  border: 1px solid #C8C8C8;
  border-radius: 10rem;
  padding: 6rem;
}

.image {
  width: 100%;
}

.signs {
  display: flex;
  flex-wrap: wrap;
  gap: 15rem;
  margin-top: 44rem;
}

.sign {
  width: 29%;
}

.stats {
  display: flex;
  justify-content: flex-end;
  margin-top: 66rem;
  padding-left: 115rem;
}

.btn {
  margin-top: 50rem;
  width: 100%;
}

@include media(lg) {
  .main {
    display: grid;
    grid-template-columns: 32% 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 0 24rem;
  }

  .heading {
    max-width: 210rem;
  }
  
  .info {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 0;
  }

  .awards {
    display: flex;
    align-items: flex-start;
    margin-right: (-$container-padding);
    padding-right: $container-padding;
    padding-bottom: 56rem;
  }

  .btn {
    grid-column: 1/2;
    margin-top: 24rem;
    max-width: 270rem;
  }

  .cert {
    width: 50%;
    flex-shrink: 0;
    padding: 8rem;
  }

  .signs {
    flex: 1;
    gap: 30rem 15rem;
    margin-left: 40rem;
    margin-top: 0;
  }

  .stats {
    display: block;
    margin-top: 60rem;
    max-width: none;
  }
}

@include media(xl) {
  .heading {
    max-width: 290rem;
  }

  .awards {
    margin-right: (-$container-padding-xl);
    padding-right: $container-padding-xl;
    padding-bottom: 90rem;
  }

  .cert {
    width: 45%;
  }

  .signs {
    gap: 48rem 20rem;
  }

  .sign {
    width: 26%;
  }

  .stats {
    margin-top: 125rem;
  }

  .btn {
    margin-top: 44rem;
    max-width: 316rem;
  }
}