.el {
  padding: 40rem 0;
  color: $color-grey-paper;
  background-color: $color-grey-main;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  font-size: 30rem;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.icon {
  margin-left: 30rem;
  flex-shrink: 0;
  width: 25rem;
  height: 25rem;
  fill: currentColor;
}

@include media(lg) {
  .el {
    padding: 70rem 0;
  }

  .title {
    font-size: 50rem;
  }

  .icon {
    width: 40rem;
    height: 40rem;
  }
}

@include media(xl) {
  .el {
    padding: 85rem 0;
  }

  .title {
    font-size: 81rem;
  }

  .icon {
    width: 54rem;
    height: 54rem;
  }
}