.el {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 100rem 0 120rem;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.hline2 {
  width: 100%;
}

.hline4 {
  margin-left: auto;
  text-align: right;
}

.circles {
  display: inline-block;
  position: relative;
  margin-bottom: 4rem;
  width: 64rem;
  height: 29rem;

  span {
    position: absolute;
    top: 0;
    right: 0;
    width: 29rem;
    height: 29rem;
    border: 3px solid $color-grey-light;
    border-radius: 50%;

    &:nth-child(2) {
      right: 11rem;
    }

    &:nth-child(3) {
      right: 22rem;
    }

    &:nth-child(4) {
      right: 33rem;
      border-color: $color-grey-main;
    }
  }
}

.colorful {
  color: $color-magenta;
}

.symbol {
  display: inline-block;
  margin-left: auto;
  margin-right: 10rem;
  width: 32rem;
  height: 42rem;
}

.services {
  display: flex;
  align-items: center;
  height: 60rem;
  background-color: $color-grey-main;
  overflow: hidden;
}

.running {
  color: $color-grey-paper;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 11rem;
  line-height: 1;
  letter-spacing: .1em;
  animation: running-line 60s linear infinite;
}

@keyframes running-line {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@include media(lg) {
  .el {
    &.anim {
      .line1,
      .line2,
      .line3,
      .line4 {
        transform: none;
      }

      .services {
        &::after {
          transform: translateY(100%);
        }
      }

      .heading,
      .symbol {
        opacity: 1;
        transform: none;
      }

      .circles {
        span {
          opacity: 1;
          transform: none;
        }
      }
    }
  }
  
  .main {
    position: relative;
    padding: 132rem 0 192rem;
  }

  .line1,
  .line2,
  .line3,
  .line4 {
    position: absolute;
    top: 0;
    width: 1rem;
    height: 100%;
    background-color: $color-grey-main;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .8s ease;
  }

  .line1 {
    right: 500rem;
    transition-delay: .5s;
  }

  .line2 {
    right: 248rem;
    transition-delay: .75s;
  }

  .line3 {
    right: 124rem;
    transition-delay: .9s;
  }

  .line4 {
    right: 56rem;
    transition-delay: 1.05s;
  }

  .heading {
    max-width: 760rem;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 1s ease 1.5s, transform 1s ease 1.5s;

    br {
      display: none;
    }
  }
  
  .hline1 {
    width: 100%;
  }

  .hline2 {
    width: auto;
  }

  .hline4 {
    margin-left: 18rem;
    text-align: left;
  }

  .circles {
    margin-right: 14rem;
    width: 94rem;
    height: 43rem;

    span {
      width: 43rem;
      height: 43rem;
      opacity: 0;
      transform: translateX(30rem);
      transition: opacity .3s ease 2.5s, transform .3s ease 2.5s;

      &:nth-child(1) {
        transform: none;
      }

      &:nth-child(2) {
        right: 17rem;
        transition-delay: 2.7s;
      }

      &:nth-child(3) {
        right: 34rem;
        transition-delay: 2.9s;
      }

      &:nth-child(4) {
        right: 51rem;
        transition-delay: 3.1s;
      }
    }
  }

  .symbol {
    margin-left: 10rem;
    margin-right: 0;
    width: 47rem;
    height: 62rem;
    opacity: 0;
    transform: translateX(-36rem);
    transition: opacity .3s ease 2.3s, transform .3s ease 2.3s;
  }

  .services {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $color-grey-paper;
      transition: transform 1s ease 1s;
    }
  }

  .running {
    font-size: 14rem;
  }
}

@include media(xl) {
  .main {
    padding: 230rem 0;
  }

  .line1 {
    right: 624rem;
  }

  .line2 {
    right: 312rem;
  }

  .line3 {
    right: 152rem;
  }

  .line4 {
    right: 72rem;
  }

  .heading {
    max-width: 1120rem;
  }

  .hline4 {
    margin-left: 22rem;
  }

  .circles {
    margin-right: 25rem;
    margin-bottom: 8rem;
    width: 132rem;
    height: 61rem;

    span {
      width: 61rem;
      height: 61rem;
      border-width: 5px;

      &:nth-child(2) {
        right: 23rem;
      }

      &:nth-child(3) {
        right: 46rem;
      }

      &:nth-child(4) {
        right: 69rem;
      }
    }
  }

  .symbol {
    margin-left: 15rem;
    margin-bottom: 4rem;
    width: 62rem;
    height: 68rem;
  }

  .services {
    height: 80rem;
  }

  .running {
    font-size: 17rem;
  }
}