.main {
  padding: 60px 0 160px;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 450px;
}

.hline2 {
  width: 100%;
}

.hline4 {
  margin-left: auto;
  text-align: right;
}

.circles {
  display: inline-block;
  position: relative;
  margin-bottom: 4px;
  width: 64px;
  height: 29px;

  span {
    position: absolute;
    top: 0;
    right: 0;
    width: 29px;
    height: 29px;
    border: 3px solid $color-grey-light;
    border-radius: 50%;
  }
}

.colorful {
  color: $color-magenta;
}

.symbol {
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
  width: 32px;
  height: 42px;
}

.services {
  display: flex;
  padding: 25px 0;
  background-color: $color-grey-main;
  overflow: hidden;
}

.running {
  color: $color-grey-paper;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 11px;
  line-height: 1;
  letter-spacing: .1em;
  animation: running-line 60s linear infinite;
}

@keyframes running-line {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@include media(lg) {
  .main {
    position: relative;
    padding: 152px 0 222px;
  }

  .line1,
  .line2,
  .line3,
  .line4 {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: $color-grey-main;
  }

  .line1 {
    right: 500px;
  }

  .line2 {
    right: 248px;
  }

  .line3 {
    right: 124px;
  }

  .line4 {
    right: 56px;
  }

  .heading {
    max-width: 760px;

    br {
      display: none;
    }
  }
  
  .hline1 {
    width: 100%;
  }

  .hline2 {
    width: auto;
  }

  .hline4 {
    margin-left: 18px;
    text-align: left;
  }

  .circles {
    margin-right: 14px;
    width: 94px;
    height: 43px;

    span {
      width: 43px;
      height: 43px;
    }
  }

  .symbol {
    margin-left: 10px;
    margin-right: 0;
    width: 47px;
    height: 62px;
  }

  .running {
    font-size: 14px;
  }
}

@include media(xl) {
  .main {
    padding: 230px 0;
  }

  .line1 {
    right: 624px;
  }

  .line2 {
    right: 312px;
  }

  .line3 {
    right: 152px;
  }

  .line4 {
    right: 72px;
  }

  .heading {
    max-width: 1120px;
  }

  .hline4 {
    margin-left: 22px;
  }

  .circles {
    margin-right: 25px;
    margin-bottom: 8px;
    width: 132px;
    height: 61px;

    span {
      width: 61px;
      height: 61px;
      border-width: 5px;
    }
  }

  .symbol {
    margin-left: 15px;
    margin-bottom: 4px;
    width: 62px;
    height: 68px;
  }

  .services {
    padding: 32px 0;
  }

  .running {
    font-size: 17px;
  }
}