.el {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 100rem 0 120rem;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.hline2 {
  width: 100%;
}

.hline4 {
  margin-left: auto;
  text-align: right;
}

.circles {
  display: inline-block;
  position: relative;
  margin-bottom: 4rem;
  width: 64rem;
  height: 29rem;

  span {
    position: absolute;
    top: 0;
    right: 0;
    width: 29rem;
    height: 29rem;
    border: 3px solid $color-grey-light;
    border-radius: 50%;
  }
}

.colorful {
  color: $color-magenta;
}

.symbol {
  display: inline-block;
  margin-left: auto;
  margin-right: 10rem;
  width: 32rem;
  height: 42rem;
}

.services {
  display: flex;
  padding: 25rem 0;
  background-color: $color-grey-main;
  overflow: hidden;
}

.running {
  color: $color-grey-paper;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 11rem;
  line-height: 1;
  letter-spacing: .1em;
  animation: running-line 60s linear infinite;
}

@keyframes running-line {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@include media(lg) {
  .main {
    position: relative;
    padding: 132rem 0 192rem;
  }

  .line1,
  .line2,
  .line3,
  .line4 {
    position: absolute;
    top: 0;
    width: 1rem;
    height: 100%;
    background-color: $color-grey-main;
  }

  .line1 {
    right: 500rem;
  }

  .line2 {
    right: 248rem;
  }

  .line3 {
    right: 124rem;
  }

  .line4 {
    right: 56rem;
  }

  .heading {
    max-width: 760rem;

    br {
      display: none;
    }
  }
  
  .hline1 {
    width: 100%;
  }

  .hline2 {
    width: auto;
  }

  .hline4 {
    margin-left: 18rem;
    text-align: left;
  }

  .circles {
    margin-right: 14rem;
    width: 94rem;
    height: 43rem;

    span {
      width: 43rem;
      height: 43rem;
    }
  }

  .symbol {
    margin-left: 10rem;
    margin-right: 0;
    width: 47rem;
    height: 62rem;
  }

  .running {
    font-size: 14rem;
  }
}

@include media(xl) {
  .main {
    padding: 230rem 0;
  }

  .line1 {
    right: 624rem;
  }

  .line2 {
    right: 312rem;
  }

  .line3 {
    right: 152rem;
  }

  .line4 {
    right: 72rem;
  }

  .heading {
    max-width: 1120rem;
  }

  .hline4 {
    margin-left: 22rem;
  }

  .circles {
    margin-right: 25rem;
    margin-bottom: 8rem;
    width: 132rem;
    height: 61rem;

    span {
      width: 61rem;
      height: 61rem;
      border-width: 5px;
    }
  }

  .symbol {
    margin-left: 15rem;
    margin-bottom: 4rem;
    width: 62rem;
    height: 68rem;
  }

  .services {
    padding: 32rem 0;
  }

  .running {
    font-size: 17rem;
  }
}