.el {
  height: 56rem;
  padding: 0 30rem;
  border-radius: 100rem;
  font-size: 16rem;
  line-height: 1;
  background-color: $color-grey-main;
  color: #fff;
}

.lg {
  height: 80rem;
  font-size: 22rem;
}

.textlg {
  height: 60rem;
  font-size: 22rem;
}

.bordered {
  border: 2px solid $color-grey-paper;
}

.grey {  
  color: $color-grey-main;
  background-color: $color-grey-paper;

  &.bordered {
    border: 2px solid $color-grey-main;
  }
}

@include media(xl) {
  .el {
    height: 80rem;
    padding: 0 50rem;
    font-size: 22rem;
  }
}