.topProjects {
  margin-top: 48px;
}

.calcOffer {
  margin-top: 38px;
}

.brieflyAbout {
  margin-top: 62px;
}

@include media(lg) {
  .topProjects {
    margin-top: 60px;
  }

  .calcOffer {
    margin-top: 44px;
  }

  .brieflyAbout {
    margin-top: 70px;
  }
}

@include media(xl) {
  .topProjects {
    margin-top: 140px;
  }

  .calcOffer {
    margin-top: 52px;
  }
}