.topProjects {
  margin-top: 48rem;
}

.calcOffer {
  margin-top: 38rem;
}

.brieflyAbout {
  margin-top: 62rem;
  margin-bottom: 50rem;
}

@include media(lg) {
  .topProjects {
    margin-top: 60rem;
  }

  .calcOffer {
    margin-top: 44rem;
  }

  .brieflyAbout {
    margin-top: 70rem;
    margin-bottom: 100rem;
  }
}

@include media(xl) {
  .topProjects {
    margin-top: 140rem;
  }

  .calcOffer {
    margin-top: 52rem;
  }

  .brieflyAbout {
    margin-top: 100rem;
    margin-bottom: 210rem;
  }
}