.tag {
  display: inline-block;
  border-radius: 100rem;
  padding: 4rem 10rem;
  font-size: 12rem;
  line-height: 1;
  letter-spacing: 0.02em;
  background-color: $color-grey-light;
}

.side {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

.link {
  display: flex;
  align-items: center;
  font-size: 22rem;
  line-height: 1;
  color: $color-magenta;
}

.arrow {
  width: 16rem;
  height: 16rem;
  margin-left: 6rem;
  fill: currentColor;
}

@include media(lg) {
  .el {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }

  .tag {
    grid-column: 1/3;
    justify-self: start;
    padding: 4rem 18rem;
    font-size: 18rem;
  }

  .side {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
  }

  .link {
    margin-top: 4rem;
    font-size: 28rem;
  }

  .arrow {
    width: 22rem;
    height: 22rem;
    margin-left: 12rem;
  }
}

@include media(xl) {
  .tag {
    margin-bottom: 15rem;
  }

  .side {
    flex-direction: row;
    align-items: center;
  }

  .link {
    margin-top: 0;
    margin-left: 92rem;
  }
}