.topProjects {
  margin-top: 68rem;
  padding-bottom: 66rem;
}

@include media(lg) {
  .topProjects {
    margin-top: 110rem;
    padding-bottom: 46rem;
  }
}

@include media(xl) {
  .topProjects {
    margin-top: 142rem;
    padding-bottom: 94rem;
  }
}