*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  font-family: 'Jost', sans-serif;
  line-height: 1.15;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $color-grey-paper;
  color: $color-grey-main;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 20px;
}