$color-grey-light: #DBDBDB;
$color-grey-main: #1B1A1A;
$color-grey-paper: #EEEEEA;
$color-magenta: #D2113A;

$container-padding: 20px;
$container-padding-xl: 60px;

$breakpoints: (
  lg: 1000,
  xl: 1600
);

@mixin media($breakpoint) {
  $width: map-get($breakpoints, $breakpoint);

  @if $width ==null {
    $width: $breakpoint;
  }

  @media (min-width: #{$width}px) {
    @content;
  }
}