.sideMenu {
  display: none;
}

@include media(lg) {
  .sideMenu {
    display: block;
    position: sticky;
    top: 62rem;
    padding-top: 60rem;
    padding-bottom: 500rem;
    opacity: 0;
    transform: translateY(50rem);
    transition: opacity .5s ease .25s, transform .5s ease .25s;

    &.anim {
      opacity: 1;
      transform: none;
    }
  }

  .divider {
    margin-right: (-$container-padding);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;

    &.anim {
      transform: none;
    }
  }
}

@include media(xl) {
  .sideMenu {
    top: 90rem;
    padding-top: 82rem;
  }

  .divider {
    margin-right: (-$container-padding-xl);
  }
}