.el {
  padding-top: 26rem;
}

.sideMenu {
  display: none;
}

.divider1 {
  margin: 40rem 0 33rem;
}

.divider2 {
  margin: 114rem 0 26rem;
}

.divider3 {
  margin: 42rem 0 56rem;
}

@include media(lg) {
  .el {
    padding-top: 60rem;
  }

  .sideMenu {
    display: block;
    position: sticky;
    top: 122rem;
    padding-bottom: 500rem;
  }

  .divider1 {
    margin: 116rem (-$container-padding) 34rem 0;
  }

  .divider2 {
    margin: 110rem (-$container-padding) 36rem 0;
  }

  .divider3 {
    margin: 80rem (-$container-padding) 56rem 0;
  }
}

@include media(xl) {
  .el {
    padding-top: 82rem;
  }

  .divider1 {
    margin: 104rem (-$container-padding-xl) 54rem 0;
  }

  .divider2 {
    margin: 135rem (-$container-padding-xl) 56rem 0;
  }

  .divider3 {
    margin: 180rem (-$container-padding-xl) 96rem 0;
  }
}